/********** Global  ************/
html,body {
}

body {
	padding-top:40px;
}

a {
	cursor:pointer; 
}

a:hover {
	text-decoration:none;
}

.table td {
	vertical-align:middle;
}

h1, h2, h3, h4, h5 {
	font-weight: 200; 
}
.jumbotron {
	position:relative;
	padding:5px 0;
	border-bottom:1px solid rgb(202, 202, 202);
    background: #438eb9;
    color: white;
}

.discjumbotron {
	background-color: rgb(231, 231, 231) !important;
    margin: 0;
    padding: 0px !important;
    border-radius: 0px !important;
}

.jumbotron h4 {
line-height: 25px; 
}

.userThumbSmall {
	width:31px;
	height:28px;
	margin-right:10px;
font-size: 14px;
text-shadow: none;
color: white;
font-weight: 200;
line-height: 27px;
}

.userThumbTiny {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    font-size: 10px;
    text-shadow: none;
    font-weight: 400;
    padding: 1px 0px 0px 1px;
    display: inline;
}

textarea{
	word-break: break-all;
	line-height: 16px;
}
.textareaFixed {
	height:100px;
	resize:none;
}

 /********** BOOTSTRAP FIXES  ************/
 .jumbotron h1 {
	margin-bottom:4px!important;
	margin-right:300px;
	font-size: 32px !important; 
} 

.jumbotron p {
	font-size: 18px;
font-weight: 200;
}


/***********************************************************************************************/
/*                					    DISCUSSIONS 		   							       */
/***********************************************************************************************/
/* 
 *  Timeline and Participant tabs
*/
#timeline {
	width:100%;
	height:20px;
	padding:10px 0;
}

#dots {
	height:8px;
	width:99%;
	background-color:#ccc;
	position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.singleDot {
	width:11px;
	height:8px;
	background:rgba(255,0,0,0.15);
	border-radius:4px;
	position:absolute;
}

#amount {
	border:0;
	color:#999;
	background-color:transparent;
	box-shadow:none;
	font-size:15px;
}


#participants {
	padding-top:0;
	text-align:center;
	display:inline;
}

#participants ul {
	list-style-type:none;
	display:inline-block;
}

#participants ul li {
	display:inline-block;
	border:3px solid #ddd;
	width:34px;
	height:34px;
}

#participants ul .active {
	display:inline-block;
	border:2px solid orange!important;
	width:34px;
	height:34px;
}

#heatmapButtons {
	display:inline-block;
	vertical-align:middle;
}

/* 
 *  Post Types
*/
.agree {
	background-color:#efffef!important;
}

.disagree {
	background-color:#ffebeb!important;
}

.clarify {
	background-color:#ffd6ff!important;
}

.offTopic {
	background-color:#fff4e1!important;
}

.comment {
	background-color:#e9e9ff!important;
}

#slider-range {
	width:100%;
	margin-top:8px;
}

.ui-slider-horizontal {
	background:#ccc;
	height:8px;
	border:1px solid #aaa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.ui-slider-range {
	background:#5BC0DE;
}

.ui-slider-horizontal .ui-slider-handle {
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	background:-moz-linear-gradient(top,#5BC0DE,#2F96B4);
	background:-webkit-linear-gradient(top,#5BC0DE,#2F96B4);
	border:1px solid #7EAAB7;
	position:relative;
	padding:0 8px;
	-webkit-box-shadow:0 0 4px #333;
	-moz-box-shadow:0 0 4px #333;
	box-shadow:0 0 4px #333;
	margin-left:-7px;
	top:-13px;
}

.ui-slider-horizontal .ui-slider-handle:focus {
	outline:none;
}

.whiteActive {
	border-bottom:1px solid #fff!important;
	margin-bottom:-1px!important;
}


/* Single Discussion Page with Posts */
#controls {
	text-align:center;
	padding:0;
	float:right;
	margin-top:0;
	width:300px;
}

#controlsWrap {
	width:100%;
}

#controlsRow {
	padding:0;
	margin-bottom:10px;
	margin-top: -20px; 
}


.levelWrapper {
	height:100%;
	padding-right:10px;
	zoom:1;
	overflow-y:hidden;
}

#discPane {
	overflow-y:auto;
	overflow-x:hidden;
}

.topLevelMessage {
padding: 10px!important;
border: 1px solid #ddd!important;
margin-left: 0!important;
margin-top: 10px;
border-radius: 0px;
}

.dCollapse h4 {
	margin:10px 0;
	padding:5px;
}

.dCollapse {
	padding-top:10px;
}

.dCollapse ul {
	list-style:none;
    display: inline
}

#dTabs li {
	line-height:20px;
	list-style:none;
	display:inline-block;
	margin-right:20px;
	padding:10px;
}

#dTabs .active {
	background-color:#f5f5f5;
	border:1px solid #EEE;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}

.draggablePost {
position: absolute; 
z-index: 1100; 
background: #eee; 
height: 50px; 
width: 300px; 
overflow: hidden; 
padding: 10px; 
font-size: 12px; 
border-radius: 5px; 
box-shadow:0px 0px 5px 0px #666;
	
}

/* Discussion Page master layout */
#dHeader {
	margin-top:20px;
}


#synthesisList {
	margin:0;
}

.synTop {
background: rgb(240, 240, 240);
padding: 5px;
margin: -5px -5px 7px -5px;}

.synthesisPost {
margin-bottom: 20px;
padding: 10px;
font-size: 13px;
line-height: 16px;
text-align: justify;
white-space: pre-line;
border: 1px solid #ddd;
}

.synthesisPosts {
padding: 5px 5px;
border: 1px solid #DDD;
margin: 12px 0;
border-radius: 5px;
background: #FAFDF0;
}

#synthesisText {
	margin:0 0 9px;
	height:120px;
	width:94%;
	font-size:13px;
	resize:none;
}

.sDropHover {
	background-color:#F5F8A8;
}

.SynthesisComponent {
margin-left: 5px;
}

.synthesisWrap {
	background: #E9A672;
	border-radius: 5px;
	padding: 2px 5px 0 5px;
	margin-left: 10px;
	color: white; 
}

.synMessage {
color: #666;
font-size: 12px;
padding-left: 10px;
}

.synthesisP {
	line-height: 20px;
margin-top: 7px;
}

.editSynthesis {
	float: right;
margin-top: -9px;	 
}

.synButton {
border: 1px solid #ccc;
padding: 5px 15px;
width: 40%;
background: rgba(225, 225, 245, 0.28);
border-radius: 5px;	
}
.information div p {
	font-size: 12px;
line-height: 18px;
}

/*.information div .
n {*/
/*font-size: 40px;*/
/*margin: 0px;*/
/*line-height: 50px; */
/*color: rgb(17, 136, 182);	*/
/*}*/

.gotoSynthesis, .showPosts {
	display: inline;
}

.showPosts {
	margin-left: 15px; 
}

.synthesisButtonWrap {
	margin: 15px 0; 
}

#vHeatmap {
	background:#C2DCF0;
	border-radius:5px;
    margin-right:-10px;
    width:25px;
}

.vHeatmapPoint {
	background-color:rgba(255,0,0,0.4);
	height:5px;
	width:2%;
	position:absolute;
}

#scrollBox {
width: 100%;
	position:absolute;
	margin-left:0px;
	border-radius:3px;
overflow: hidden;
 border: 2px solid rgb(107, 107, 107);
}

#lines {
	float:right;  
	width: 41px;
	margin-right: -8px;
}

#dMain {
border: 2px solid rgb(107, 107, 107);
border-left: none;
position: relative;
    padding: 0 15px;
    margin-left: -35px;
}

#dFooter {
	min-height:0!important;
}

#dRowMiddle {
    height: 400px;
}

#dHeader, #dSidebar {
	background-color:#f5f5f5;

}

.controlWrapFixed {
	position:fixed;
	top:40px;
	left:0;
	width:100%;
	box-shadow:0 0 10px 0 #222;
	background:#EEE;
	padding:10px 0 0;
}

.boxHeaders small {
	font-weight:400;
	font-style:italic;
	margin-left:15px;
}

.feedDiv {
	font-size:12px;
}

#dMain .sayBut2 {
	padding:2px 6px;
	font-weight:700;
	font-size:12px;
	margin-left:0px;
	vertical-align:top;
	cursor:pointer;
}

.threadText {
	background-color:#fff;
	line-height:16px;
	font-size:13px;
	text-align:justify;
	float:left;
	overflow-x:hidden;
}

#dTitleView {
	width:90%;
	font-size:19px!important;
}

#dInfo h1 {
	line-height:20px!important;
}

#discStatus {
	margin-top: 10px;
	padding: 2px 7px;
}

#mediaDisplay {
	display:none;
	position:absolute;
	top:50px;
	left:50px;
	width:90%;
	background:#efefef;
	padding:20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 10px 0 #CCC,0 0 19px 0 #999;
	-moz-box-shadow:inset 0 0 10px 0 #CCC,0 0 19px 0 #999;
	box-shadow:inset 0 0 10px 0 #CCC,0 0 19px 0 #999;
}

#mediaDisplayWrap {
	padding:20px;
	width:90%;
}

#containerDivIF {
	width: 100% !important; 
}

.postAuthorView {
	color:#08C;
	margin-right:6px;
}

.postTypeView {
	float:left;
	width:3%;
	padding:5px 0;
	margin-top:-4px;
	margin-left:-3px;
}

.postMessageView {
	white-space:pre-line;
    margin-top: 10px;
}

.postTypeWrap {
	margin-left:5px;
	padding:2px 0 1px 4px;
	font-size:10px;
	margin-top:2px;
}

.postTypeOptions {
    padding: 6px 8px !important;
}
.responseWrap {
	display:inline;
}

.postMeta {
    float:right;
}

.postMetaBtn {
    background: #eee;
    margin-right: 4px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}

.postTextWrap {
	float:left;
	margin-bottom:10px;
	padding-right:10px;
	margin-right:5px;
    margin-top: 7px;
}

.mediaMsg {
	background-color:#efefef;
	margin-left:5px;
	padding:3px 4px 3px 5px;
	border-radius:10px;
	font-size:11px;
	cursor:pointer;
}


.postTypeWrap:hover {
	background-color:#DDD; 
}


#highlightShow {
	word-break: break-all;
	line-height: 16px;
	background:#fff;
	border:1px solid #CCC;
	resize:none;
	width:435px;
	margin-bottom:10px;
	padding:5px;
	border-radius:5px;
}

#highlightDirection {
	display:none;
	font-style:italic;
}

.textErrorStyle {
	border:2px solid #faa;
}

#textError {
	display:none;
	color:red;
	font-style:italic;
}

#postTabs ul li {
	padding:5px 20px;
	width:60px;
	cursor:pointer;
}

#postTabs ul .active {
	background-color:#EEE;
}

#checkNewPosts {
	position:fixed;
	top:80px;
	right:20px;
	width:250px;
	line-height:15px;
	font-size:12px;
}

.refreshIcon {
	font-size:15px;
	font-weight:700;
	display:block;
	float:left;
	border-right:1px solid #CCC;
	margin:-2px 10px 0 0;
	padding-right:10px;
	font-size:18px;
	padding-top:5px;
	height:27px;
}

.refreshBox {
	-webkit-box-shadow:0 0 10px 0 #999;
	-moz-box-shadow:0 0 10px 0 #999;
	box-shadow:0 0 10px 0 #999;
}

#recentContent {
    font-size: 13px;
    line-height: 14px;
}
#recentContent li {
    margin: -10px 0px;
    border-bottom: 1px dashed #ccc;
    padding: 10px 0px;
}
#recentContent li:hover {
	background:#eee;
}

/* Caner's version of the Discussion box */
#commentWrap {
	position:absolute;
	display:none;
	width:465px;
	background-color:#EEE;
	-webkit-box-shadow:inset 0 0 3px 0 #CCC,0 0 3px 0 #999;
	-moz-box-shadow:inset 0 0 3px 0 #CCC,0 0 3px 0 #999;
	box-shadow:inset 0 0 10px 0 #CCC,0 0 19px 0 #999;
	font-family:Helvetica,sans-serif;
	font-size:12px;
	z-index:1099;
	clear:both;
	margin:10px 0 20px -11px;
	border: 1px solid #ccc;
	padding:12px;
}

#commentWrap p {
	margin-bottom:20px;
}

#commentWrap input[type="radio"] {
	margin-right:5px;
	vertical-align:baseline;
}

#text {
	width:435px;
	height:120px;
	border:1px solid #ccc;
	padding:5px;;
	border-radius:5px;
	resize:none;
	font-size:12px;
}

#bottom {
	clear:both;
	height:30px;
}

#quick {
    margin-bottom: 10px;
    text-align: center;
}
#buttons {
	display:inline;
	float:right;
}

.commentWrapHandle {
	height: 25px;
    width: 465px;
    margin-top: -13px;
    box-shadow: inset 0px -2px 7px -2px #999;
    margin-left: -12px;
    margin-bottom: 10px;
    background: rgb(211, 211, 211);
    cursor: move;
}
.logos {
	width:16px;
	height:16px;
	float:left;
	margin-right:3px;
	margin-top:1px;
}

.highlight {
	background-color:rgba(255,255,176,1);
}

.highlightblue {
	background-color:rgba(176,176,255,1);
}

.lightHighlight {
	background-color:#f5f5ef!important;
}


.search {
 display:inline;
 margin:0;
 padding:0;
 border:0;
 }


span .highlight {
	padding:4px 0;
}

#mediaBox,#displayFrame {
	clear:both;
	display:none;
	position:absolute;
	top:-50px;
	left:10%;
	padding:12px;
	background:#eee;
	margin-top:10px;
	height:600px;
	width:80%;
	z-index:1099;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 17px 0px #999;
	-moz-box-shadow:0 0 17px 0px #999;
	box-shadow:0 0 17px 0px #999;
}

#mediaWrap {
	width:96%;
	background:#fff!important;
	padding:5px;
	border:1px solid #CCC;
	margin-top:35px;
}

#shivaDrawDiv {
	width:505px;
	height:400px;
	padding:5px;
}

#mediaTools {
	padding:5px;
}

#mediaButtons {
	margin-right:22px;
}

#drawGroup {
	display:inline;
}

#drawGroup button {
	width:100px;
	font-size:11px;
	padding:5px;
	margin:0 0 5px -5px;
}

#media {
	float:left;
	margin-right:10px;
}


#source {
	margin:5px 20px 0;
}

#participantList {
	margin-left: 5px;
	}
	

.uList {
padding: 0px !important;
	width:32px;
}

#inputNote {
	width:500px;
	resize:none;
	height:100px;
}

#keywordSearchDiv {
	float:right;
	margin-top:-36px;
    width:300px;
}

.resetSearch {
    float:right
}

#keywordSearchText {
    color: #333;
    width: 135px;
    float: right;
}

#discussionWrap {
	background-color: white;
    padding-top: 20px;
}
#discussionWrap .jumbotron {
	padding:5px 0 0;
	width:100%;
	margin-bottom:0;
	position:relative;
	color:#4a4a4a;
	text-shadow:none;
	background:#f5f5f5;
	box-shadow:none;
}

#toolbox {
	margin-top:10px;
	margin-bottom:10px;
	font-size:0;
	margin:0;
	padding:5px 0;
}

.glyphicon{
    margin-right: 3px;
}

.glyphicon-share {
    color: darkblue;
}
.glyphicon-comment {
    color: yellowgreen;
}
.glyphicon-thumbs-up {
    color: darkgreen;
}
.glyphicon-thumbs-down {
    color: indianred;
}
.glyphicon-question-sign {
    color: saddlebrown;
}